[submodule "backend"]
	path = backend
	url = https://github.com/victoralfred/hpa-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/victoralfred/hpa-system.git
[submodule "shared"]
	path = shared
	url = https://github.com/victoralfred/hpa-shared.git
